
.new_local_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20 10 20 10;
    -fx-spacing: 10;
    -fx-alignment: center_left;
}

.new_local_container Label {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.new_local_container TextField {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}
.new_local_container DatePicker {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}
.new_local_container Button {
    -fx-background-color: linear-gradient(to left, #cc181a, #c34646);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}
.save_button {
    -fx-background-color: linear-gradient(to left, #34c724, #46c35b);
}
.update_button {
    -fx-background-color: linear-gradient(to left, #e0c048, #cbb22f);
}
.new_local_container Button:hover {
    -fx-cursor: hand;
}
.page_title {
    -fx-text-fill: #cc181a;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
    -fx-font-family: Calibri;
}
.error_label {
    -fx-text-fill: #cc181a;
    -fx-fill: #cc181a;
    -fx-font-weight: bold;
}

.table-view{
    -fx-background-color:transparent;
    -fx-padding:0px;
    -fx-border-color:linear-gradient(to bottom right, #cc181a, #cc181a);
    -fx-border-width:2px;
    -fx-border-radius:8px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #cc181a, #cc181a);
    -fx-background-radius:8px 8px 0px 0px;
    -fx-background-inset: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}
.refresh_btn{
    -fx-background-color: linear-gradient(to left, #AAAAAA, #FFFFFF);
    -fx-pref-width: 23;
}